// Vendor
@import '~presstify-framework/partial/cookie-notice/scss/styles';
@import '~presstify-framework/partial/modal/scss/styles';

// Personnalisation
.CookieLaw {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    transition: opacity 0.5s;
}

.CookieLaw-notice {
    position:relative;
    z-index: 1;
    padding: 10px 100px;
    text-align: center;
    background-color: #2B2B2B;
    color: #FFF;
}

.CookieLaw-notice[aria-hide="true"] {
    display: none;
}

.CookieLaw-text {
    margin-bottom: 10px;
}

.CookieLaw-button {
    display: inline-block;
    margin: 0 2px;
    padding: 0.6em 1.2em;

    line-height: 1;
    white-space: nowrap;
}

.CookieLaw-button,
.CookieLaw-button:visited {
    color: #FFF;
    border: solid 1px #FFF;
}

.CookieLaw-button:hover,
.CookieLaw-button:active,
.CookieLaw-button:focus {
    color: #999;
    border-color: #999;
}

.CookieLaw-close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    line-height: 1;
}

.CookieLaw-close:hover,
.CookieLaw-close:active,
.CookieLaw-close:focus,
.CookieLaw-close:visited {
    color: #FFF;
}

.CookieLaw-close::before {
    content: "\f158";
    font: normal 16px/1 dashicons;
    vertical-align: middle;
}

.CookieLaw-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    opacity:0.5;
    background-color:#FFF;
    transition: opacity 0.5s;
}

body.modal-open .CookieLaw-notice {
    opacity:0;
    max-height:100%;
}

body.modal-open .CookieLaw-backdrop {
    opacity:0;
    max-height:100%;
}